<h2>{{repo.name}}</h2>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Number of contributions</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr ng-repeat="repo in repos | orderBy : '-stargazers_count'">-->
        <tr ng-repeat="user in repo.contributors">
            <td>{{user.login}}</td>
            <td> {{user.contributions}}</td>
        </tr>
        </tbody>
    </table>
</div>
<a href = "#!/main">Back to search</a>
<a href = "#!/user/{{repo.owner.login}}">Back to {{repo.owner.login}}</a>
